<%- include('../partials/header.ejs') %>
<body>
	<%- include('../partials/navbar.ejs') %>
	<div class="container">
		<div class="card" id="question-card">
			<div class="card-header">
				<h3>Realizar pergunta</h3>
			</div>
			<div class="card-body">
				<form method="POST" action="/new-question">
					<label>Título</label>
					<input class="form-control" type="text" placeholder="Título" name="title">
					<br>
					<label>Descrição</label>
					<textarea class="form-control" type="text" placeholder="Descreva sua pergunta aqui" name="description"></textarea>
					<br>
					<button class="btn btn-success">Enviar</button>
				</form>
			</div>
	</div>
	</div>
</body>
<%- include('../partials/footer.ejs') %>